# Build output
#build/*
#source/ti/grlib/lib/
#source/ti/grlib/lib/**/*.a

# Build output
build/*
kernel/**/lib/
source/third_party/fatfs/lib/
source/third_party/psa_crypto/library/lib/
source/third_party/spiffs/lib/
source/ti/devices/*/driverlib/bin/
source/ti/**/lib/
# But special case no-source-provided libraries that belong in the repo
!source/ti/dmm/lib
!source/ti/mesh/ti/kernel/tirtos7/lib
!source/ti/ti154stack/lib/
!source/ti/ti_wisunfan/lib/
!source/ti/ti_wisunfan/ncp_interface/src/lib
!source/ti/ti_wisunfan/uip/lib
!source/ti/ti_wisunfan/wisunfan_mac/
!source/ti/zstack/lib/
