<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BTool.Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Flow" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AttributesAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTool_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BTool_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BTool_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMain_LeftRightSplitPercent" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="DeviceForm_TopBottomSplitPercent" serializeAs="String">
                <value>0.735</value>
            </setting>
            <setting name="DeviceForm_TopLeftRightSplitPercent" serializeAs="String">
                <value>0.46</value>
            </setting>
            <setting name="Connection_MinInterval" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Connection_MaxInterval" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Connection_PeripheralLatency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Connection_SupervisionTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AttrForm_ConnectionHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Handle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Uuid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_UuidDesc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_ValueDesc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Properties" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstTimeStart_Upgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeStart_UserSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MsgLog_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AttrForm_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTermKey_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RtbMsgBox_AutoScrollLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFile_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Oad_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Oad_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Oad_UseExternalFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanConnect_SelectedIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ScanConnect_BDA" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Oad_Connection_MinInterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Oad_Connection_MaxInterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Oad_Connection_PeripheralLatency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Oad_Connection_SupervisionTimeout" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Oad_Connection_UseConnSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Oad_BlockSize" serializeAs="String">
                <value>244</value>
            </setting>
            <setting name="Oad_EnableImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormMain_TopBottomSplitPercent" serializeAs="String">
                <value>0.17</value>
            </setting>
        </BTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
