/* ------Don't edit or modify this file------ */

--define_symbol FHAPI_reset=0x10030809
--define_symbol FHAPI_start=0x10030101
--define_symbol FHAPI_startBS=0x10030989
--define_symbol FHAPI_completeTxCb=0x1003035d
--define_symbol FHAPI_completeRxCb=0x10030501
--define_symbol FHAPI_sendData=0x10030689
--define_symbol FHAPI_getTxParams_old=0x100308d1
//--define_symbol FHAPI_getTxParams=0x10030a21
--define_symbol FHAPI_getTxChHoppingFunc=0x10030b81
--define_symbol FHAPI_getRemDT=0x10030a81
--define_symbol FHAPI_stopAsync=0x10030b11
--define_symbol FHAPI_setStateCb=0x10030b51
--define_symbol FHAPI_SFDRxCb=0x10030ad1
--define_symbol FHAPI_getBitCount=0x10030bad
--define_symbol FHDATA_checkPktFromQueue=0x10031029
--define_symbol FHDATA_getPktFromQueue=0x10030d61
--define_symbol FHDATA_purgePktFromQueue=0x10030e89
--define_symbol FHDATA_purgeUnSupportedFrameTypes=0x10030e05
--define_symbol FHDATA_chkASYNCStartReq=0x10030fb5
--define_symbol FHDATA_procASYNCReq=0x10030bd1
--define_symbol FHDATA_startEDFEReq=0x10031051
--define_symbol FHDATA_procEDFEReq=0x1003103d
--define_symbol FHDATA_startEDFETimer=0x10031065
--define_symbol FHDATA_requeuePkt=0x10030efd
--define_symbol FHDATA_updateCCA=0x10030fed
//--define_symbol FHDATA_CheckMinTxOffTime=0x10030cb5
//--define_symbol FHDATA_getASYNCDelay=0x10030f65
--define_symbol FHDATA_asyncMinTxOffTimerCb=0x10031011
--define_symbol FHDH1CF_hashword=0x10031069
--define_symbol FHDH1CF_getCh=0x10031209
--define_symbol FHDH1CF_getBcCh=0x100312f5
--define_symbol FHDH1CF_mapChIdxChannel=0x100311ad
--define_symbol FHDH1CF_getBCChannelNum=0x10031129
--define_symbol FHDH1CF_getChannelNum=0x1003125d
--define_symbol FHDH1CF_getTxChannelNum=0x100312b1
//--define_symbol FHIE_getCcaSfdTime=0x10032519
--define_symbol FHIE_genUTIE=0x10032755
//--define_symbol FHIE_genBTIE=0x1003248d
--define_symbol FHIE_getChannelPlan=0x100326f1
--define_symbol FHIE_isChannelPlanValid=0x10032805
--define_symbol FHIE_genExcludedChannelMask=0x10032689
--define_symbol FHIE_genExcludedChannelRanges=0x100323cd
--define_symbol FHIE_getExcludedChannelControl=0x10032859
--define_symbol FHIE_genCommonInformation=0x10031fed
--define_symbol FHIE_genPieContent=0x10031325
--define_symbol FHIE_genPie=0x1003210d
--define_symbol FHIE_genHie=0x10031d91
--define_symbol FHIE_getCommonInformationLen=0x100327b1
--define_symbol FHIE_getPieContentLen=0x1003220d
--define_symbol FHIE_getPieLen=0x10032599
--define_symbol FHIE_getHieLen=0x10032619
--define_symbol FHIE_parseCommonInformation=0x10031ba9
--define_symbol FHIE_getPie=0x100328cf
--define_symbol FHIE_getSubPie=0x10032895
--define_symbol FHIE_getHie=0x10032939
--define_symbol FHIE_gen=0x10032905
--define_symbol FHIE_getLen=0x1003296d
--define_symbol FHIE_parsePie=0x10031699
--define_symbol FHIE_parseHie=0x10031ec9
--define_symbol FHIE_extractPie=0x1003197d
--define_symbol FHIE_extractHie=0x1003230d
--define_symbol FHMGR_macStartOneShotTimer=0x10032cc9
--define_symbol FHMGR_macStartFHTimer=0x10032c1d
--define_symbol FHMGR_macGetElapsedFHTime=0x10032d29
--define_symbol FHMGR_ucTimerIsrCb=0x10032bb5
--define_symbol FHMGR_BCTimerEventUpd=0x10032cf5
--define_symbol FHMGR_bcTimerIsrCb=0x1003299d
--define_symbol FHMGR_updateRadioUCChannel=0x10032acd
--define_symbol FHMGR_updateRadioBCChannel=0x10032b45
--define_symbol FHMGR_pendUcChUpdate=0x10032d47
--define_symbol FHMGR_macCancelFHTimer=0x10032d11
--define_symbol FHMGR_pendBcChUpdate=0x10032d41
--define_symbol FHMGR_updateHopping=0x10032c75
--define_symbol FHNT_initTempTable=0x10033429
--define_symbol FHNT_getFixedNTIndexFromTempIndex=0x100338c1
--define_symbol FHNT_getNTIndexFromTempIndex=0x10033671
--define_symbol FHNT_getRemoveEntryFromTemp=0x10032ea1
--define_symbol FHNT_addTempEUI=0x10033381
//--define_symbol FHNT_delTempIndex=0x1003386d
--define_symbol FHNT_assessTime=0x10033aa9
--define_symbol FHNT_purgeTimerIsrCb=0x10033a3d
--define_symbol FHNT_getRemoveEntry=0x100334c5
--define_symbol FHNT_reset=0x10033811
--define_symbol FHNT_init=0x10033a75
--define_symbol FHNT_purgeEntry=0x10032d4d
--define_symbol FHNT_createEntry=0x10033209
--define_symbol FHNT_getEntry=0x10032fe1
--define_symbol FHNT_putEntry=0x10033915
--define_symbol FHNT_getEUI=0x100339f9
--define_symbol FHNT_AddDeviceCB=0x10033119
--define_symbol FHNT_DelDeviceCB=0x100337b1
--define_symbol FHNT_getFixedEntry=0x100335f5
--define_symbol FHNT_putFixedEntry=0x100339b1
--define_symbol FHNT_getRemoveFixedEntry=0x1003355d
--define_symbol FHNT_createFixedEntry=0x100332c5
--define_symbol FHNT_getOptEntry=0x100336e5
--define_symbol FHNT_getAvailEntry=0x10033969
--define_symbol FHNT_addOptEntry=0x1003374d
--define_symbol FHPIB_getIndex=0x10033d25
--define_symbol FHPIB_reset=0x10033d41
--define_symbol FHPIB_getLen=0x10033cf5
--define_symbol FHPIB_set=0x10033ac9
--define_symbol FHPIB_get=0x10033ca5
--define_symbol FSM_transaction_debug=0x10033d9d
--define_symbol FHSM_event=0x10033d59
--define_symbol FHUTIL_getTxUfsi=0x10034319
--define_symbol FHUTIL_adjBackOffDur=0x10033dcd
--define_symbol FHUTIL_getUcChannel=0x100343a1
--define_symbol FHUTIL_getTxChannel=0x1003404d
--define_symbol FHUTIL_getBcTxParams=0x10033f09
--define_symbol FHUTIL_getCurUfsi=0x10034261
--define_symbol FHUTIL_getCurBfio=0x100340cd
--define_symbol FHUTIL_getElapsedTime=0x100343c9
--define_symbol FHUTIL_compBfioTxTime=0x100343e5
--define_symbol FHUTIl_updateBTIE=0x10033fc9
--define_symbol FHUTIL_calcUfsi=0x10034411
--define_symbol FHUTIL_assert=0x100343fd
--define_symbol FHUTIL_noAction=0x1003441f
--define_symbol FHUTIL_getCh0=0x100342a9
--define_symbol FHUTIL_getChannelSpacing=0x10034219
--define_symbol FHUTIL_getMaxChannels=0x100342e1
--define_symbol FHUTIL_getBitCounts=0x100341c1
--define_symbol FHUTIL_updateUcNumChannels=0x10034375
--define_symbol FHUTIL_updateBcNumChannels=0x10034349
--define_symbol FHUTIL_getGuardTime=0x10034149
--define_symbol FHUTIL_elapsedTime=0x1003441b
--define_symbol macBeaconCoordReset=0x10034a01
--define_symbol MAC_InitBeaconCoord=0x10034849
--define_symbol macBeaconSetPrepareTime=0x100349d5
--define_symbol macBeaconCheckStartTime=0x10034715
//--define_symbol macApiBeaconStartReq=0x10034625
--define_symbol macBeaconPeriodCallback=0x1003495d
--define_symbol macBeaconTxCallback=0x10034781
--define_symbol macBeaconPrepareCallback=0x100346a1
--define_symbol macStartBeaconPrepareCallback=0x10034895
--define_symbol macBeaconStartContinue=0x10034545
--define_symbol macBeaconBattLifeCallback=0x10034a25
--define_symbol macTxBeaconCompleteCallback=0x10034421
--define_symbol macBeaconSetupBroadcast=0x100347ed
--define_symbol macOutgoingNonSlottedTx=0x10034999
--define_symbol macBeaconSchedRequested=0x100348e1
--define_symbol macBeaconClearIndirect=0x10034921
--define_symbol macBroadcastPendCallback=0x10035355
--define_symbol macBeaconStopTrack=0x10035289
--define_symbol macIncomingNonSlottedTx=0x100352cd
--define_symbol macBeaconSyncLoss=0x10035065
--define_symbol macSyncTimeoutCallback=0x10034e8d
//--define_symbol macTrackTimeoutCallback=0x10034fd1
//--define_symbol macTrackStartCallback=0x10034f3d
//--define_symbol macTrackPeriodCallback=0x100351c1
//--define_symbol macRxBeaconCritical=0x10034a39
--define_symbol MAC_InitBeaconDevice=0x10035159
--define_symbol macCheckPendAddr=0x100350ed
//--define_symbol macAutoPoll=0x10034d49
--define_symbol macApiSyncReq=0x10034bcd
--define_symbol macBeaconStartFrameResponseTimer=0x10035229
--define_symbol macStartBroadcastPendTimer=0x10035311
--define_symbol macBeaconReset=0x100355a9
--define_symbol macBeaconInit=0x10035575
--define_symbol macBeaconSetSched=0x10035369
--define_symbol macBeaconCheckSched=0x100355dd
--define_symbol macBeaconRequeue=0x10035535
//--define_symbol macBeaconCheckTxTime=0x100354b5
--define_symbol macBeaconSetupCap=0x10035421
--define_symbol macCoordReset=0x10035c85
--define_symbol macBuildAssociateRsp=0x1003560d
--define_symbol macBuildRealign=0x10035d4d
--define_symbol macPendAddrLen=0x100364a9
//--define_symbol macBuildPendAddr=0x10035bb5
--define_symbol macBuildBeacon=0x1003576d
--define_symbol macIndirectMark=0x100361e5
--define_symbol macIndirectSend=0x10035e09
--define_symbol macIndirectExpire=0x100358c5
--define_symbol macIndirectTxFrame=0x10036085
--define_symbol macIndirectRequeueFrame=0x10036171
//--define_symbol macRxAssociateReq=0x100362b1
--define_symbol macApiAssociateRsp=0x10036399
--define_symbol macRxOrphan=0x10036355
--define_symbol macApiOrphanRsp=0x100360fd
--define_symbol macApiPurgeReq=0x10035eb1
//--define_symbol macApiStartReq=0x10035ff5
--define_symbol macStartBegin=0x10035ad5
--define_symbol macStartSetParams=0x100359d5
--define_symbol macStartContinue=0x10036309
--define_symbol macStartComplete=0x100363d9
--define_symbol macRxBeaconReq=0x10036419
--define_symbol macRxDataReq=0x10035f55
--define_symbol macRxPanConflict=0x100364c5
--define_symbol MAC_InitCoord=0x1003624d
--define_symbol MAC_MlmeAssociateRsp=0x10036471
--define_symbol MAC_MlmeOrphanRsp=0x1003648d
--define_symbol MAC_McpsPurgeReq=0x10036455
--define_symbol MAC_MlmeStartReq=0x100364e1
--define_symbol macDataTxDelayCallback=0x10037529
--define_symbol macDataReset=0x10037279
--define_symbol macAllocTxBuffer=0x10036ba1
--define_symbol macFrameDurationSubG=0x100372f5
--define_symbol macFrameDurationIeee=0x1003749d
--define_symbol macFrameDuration=0x10037479
--define_symbol macRxCheckPendingCallback=0x1003742d
--define_symbol macCheckIndPacket=0x10037361
--define_symbol macRxCheckMACPendingCallback=0x100373fd
--define_symbol macDataRxMemAlloc=0x10037455
--define_symbol macDataRxMemFree=0x10037515
--define_symbol macRxCompleteCallback=0x10036cd9
--define_symbol macDataTxTimeAvailable=0x100374fd
//--define_symbol macBuildDataFrame=0x10036a61
--define_symbol macCheckSched=0x100374e1
--define_symbol macSetSched=0x1003753d
//--define_symbol macDataTxComplete=0x10037079
//--define_symbol macTxCompleteCallback=0x100364f9
--define_symbol macDataTxSend=0x100368cd
--define_symbol macDataTxEnqueue=0x1003712d
--define_symbol macDataSend=0x100374c1
--define_symbol macApiDataReq=0x10036ef5
--define_symbol macDataRxInd=0x100373b9
//--define_symbol MAC_McpsDataReq=0x10036729
--define_symbol MAC_McpsDataAlloc=0x10036e05
//--define_symbol macAutoPendMaintainSrcMatchTable=0x10036fc5
//--define_symbol macAutoPendAddSrcMatchTableEntry=0x100371e1
--define_symbol macDeviceReset=0x100377a1
--define_symbol macAssociateCnf=0x10037d79
--define_symbol macPollCnf=0x10037e3d
--define_symbol macBuildAssociateReq=0x10037549
--define_symbol macStartResponseTimer=0x10037e15
--define_symbol macStartFrameResponseTimer=0x10037d35
--define_symbol macApiAssociateReq=0x10037699
--define_symbol macAssocDataReq=0x10037c99
--define_symbol macAssocDataReqComplete=0x10037b25
--define_symbol macRxAssocRsp=0x10037871
--define_symbol macAssocFrameResponseTimeout=0x10037db5
--define_symbol macAssocFailed=0x10037ced
--define_symbol macAssocRxDisassoc=0x10037e85
--define_symbol macAssocDataRxInd=0x1003792d
--define_symbol macApiPollReq=0x10037ab9
--define_symbol macPollDataReqComplete=0x10037b91
--define_symbol macPollDataRxInd=0x100379b1
--define_symbol macPollFrameResponseTimeout=0x10037bed
--define_symbol macPollRxDisassoc=0x10037de9
--define_symbol macPollRxAssocRsp=0x10037e61
--define_symbol macRxCoordRealign=0x10037a35
--define_symbol macPanConflictComplete=0x10037ed5
--define_symbol MAC_InitDevice=0x10037c45
--define_symbol MAC_MlmeAssociateReq=0x10037ea5
--define_symbol MAC_MlmePollReq=0x10037ebd
// --define_symbol macBuildHeaderIes=0x10038005
--define_symbol macBuildPayloadCoexistIe=0x100380d9
--define_symbol macBuildPayloadIes=0x10037ee9
--define_symbol macUpdateHeaderIEPtr=0x10038349
--define_symbol macUpdatePayloadIEPtr=0x10038489
--define_symbol macParseHeaderIes=0x1003818d
--define_symbol macParsePayloadIes=0x1003827d
--define_symbol macIeFreeList=0x100384e5
--define_symbol macIeCoexistIePresent=0x1003842b
--define_symbol macMlmeSubIePresent=0x100383c5
--define_symbol macMainReset=0x10038791
--define_symbol macSetEvent=0x10038861
--define_symbol macSetEvent16=0x10038845
// --define_symbol macCbackForEvent=0x100385f1
--define_symbol macStateIdle=0x100388b1
--define_symbol macStateIdleOrPolling=0x1003887d
--define_symbol macStateScanning=0x100388c9
--define_symbol macExecute=0x1003871d
--define_symbol macSendMsg=0x100386a1
--define_symbol macSendDataMsg=0x10038501
--define_symbol macMainSetTaskId=0x100388e1
--define_symbol macMainReserve=0x10038899
--define_symbol mac_msg_deallocate=0x100387f9
//--define_symbol macMgmtReset=0x1003967d
--define_symbol macGetCoordAddress=0x10039c35
--define_symbol macGetMyAddrMode=0x10039d81
--define_symbol macDestAddrCmp=0x10039ae9
--define_symbol macDestSAddrCmp=0x10039b35
--define_symbol macCoordAddrCmp=0x10039bc1
--define_symbol macCoordDestAddrCmp=0x10039a41
--define_symbol macBuildHeader=0x100388f1
--define_symbol macBuildCommonReq=0x10038c1d
--define_symbol macBuildDisassociateReq=0x10038f61
--define_symbol macBuildBeaconNotifyInd=0x100394f1
--define_symbol macSecCpy=0x10039e91
--define_symbol macNoAction=0x10039ec1
--define_symbol macTxCsmaDelay=0x10039e3d
--define_symbol macBcTimerHandler=0x10039e69
--define_symbol macApiUnsupported=0x10039e25
--define_symbol macDefaultAction=0x10039d61
--define_symbol macApiBadState=0x10039e0d
--define_symbol macApiPending=0x10039b81
--define_symbol macCommStatusInd=0x100393ed
--define_symbol macApiDisassociateReq=0x10039955
--define_symbol macDisassocComplete=0x100397c9
--define_symbol macRxDisassoc=0x100398d9
--define_symbol macRxBeacon=0x100395bd
--define_symbol macConflictSyncLossInd=0x10039c95
--define_symbol MAC_MlmeDisassociateReq=0x10039dc1
--define_symbol macUpdateCsmPhyParam=0x10039ea5
--define_symbol macIsCsmOperational=0x10039e7d
//--define_symbol MAC_MlmeResetReq=0x100391c9
//--define_symbol MAC_ResumeReq=0x10039729
--define_symbol MAC_YieldReq=0x10039c69
--define_symbol MAC_MlmeSyncReq=0x10039ddd
--define_symbol macSetDefaultsByPhyID=0x10039095
--define_symbol macSetDefaultsByRE=0x10039bfd
--define_symbol MAC_Init=0x100399cd
//--define_symbol MAC_InitFH=0x10038e15
--define_symbol MAC_MlmeFHGetReqSize=0x10039d01
--define_symbol MAC_MlmeFHGetReq=0x10039ce1
--define_symbol MAC_MlmeFHSetReq=0x10039d21
--define_symbol MAC_StartFH=0x10039d41
--define_symbol MAC_EnableFH=0x10039cbd
--define_symbol MAC_MlmeWSAsyncReq=0x10039df5
--define_symbol macWSAsyncCnf=0x10039da1
--define_symbol macBuildWSAsyncMsg=0x10039855
--define_symbol macBuildWSAsyncReq=0x100392e1
--define_symbol macApiWSAsyncReq=0x10039a99
--define_symbol macGetCSMPhy=0x10039eb9
--define_symbol MAC_RandomByte=0x10039e55
--define_symbol macPibReset=0x1003a239
--define_symbol MAC_MlmeGetReq=0x1003a169
--define_symbol MAC_MlmeGetReqSize=0x1003a275
--define_symbol MAC_MlmeSetReq=0x10039ec5
--define_symbol MAC_GetPHYParamReq=0x1003a1b9
--define_symbol MAC_SetPHYParamReq=0x1003a1f9
--define_symbol macMRFSKGetPhyDesc=0x1003a115
--define_symbol macIEEEGetPhyDesc=0x1003a29d
--define_symbol macScanCnfInit=0x1003a931
--define_symbol macApiScanReq=0x1003a2ad
//--define_symbol macScanNextChan=0x1003a489
--define_symbol macScanStartTimer=0x1003a8b9
--define_symbol macScanRxBeacon=0x1003a599
//--define_symbol macScanRxCoordRealign=0x1003a761
--define_symbol macScanComplete=0x1003a839
--define_symbol macScanFailedInProgress=0x1003a96d
//--define_symbol MAC_MlmeScanReq=0x1003a689
--define_symbol macSecurityPibReset=0x1003ac6d
--define_symbol macSecurityPibIndex=0x1003b199
--define_symbol MAC_MlmeGetSecurityReq=0x1003af09
--define_symbol MAC_MlmeGetPointerSecurityReq=0x1003b159
--define_symbol MAC_MlmeGetSecurityReqSize=0x1003b101
--define_symbol MAC_MlmeSetSecurityReq=0x1003a99d
//--define_symbol macKeyDescriptorLookup=0x1003b965
//--define_symbol macIncomingSecurityLevelChecking=0x1003b8d1
//--define_symbol macDeviceDescriptorLookup=0x1003bad5
//--define_symbol macBlacklistChecking=0x1003b789
//--define_symbol macIncomingFrameSecurityMaterialRetrieval=0x1003b1ad
//--define_symbol macIncomingKeyUsagePolicyChecking=0x1003bb2d
//--define_symbol macCcmStarInverseTransform=0x1003b82d
//--define_symbol macIncomingFrameSecurity=0x1003b34d
//--define_symbol macOutgoingFrameKeyDescRetrieval=0x1003b4d5
//--define_symbol macOutgoingFrameSecurity=0x1003b5cd
//--define_symbol macCcmStarTransform=0x1003b6b1
--define_symbol macUpdatePanId=0x1003b9f1
--define_symbol macGetEUIIndex=0x1003ba75
--define_symbol macGetEUI=0x1003bb81
//--define_symbol macWrapper8ByteUnused=0x1003c7c1
//--define_symbol macWrapperAddDevice=0x1003bbbd
//--define_symbol macWrapperDeleteDevice=0x1003c3b1
//--define_symbol macWrapperDeleteKeyAndAssociatedDevices=0x1003c1f9
//--define_symbol macWrapperDeleteAllDevices=0x1003c565
--define_symbol macWrapperGetDefaultSourceKey=0x1003c6e9
//--define_symbol macWrapperAddKeyInitFCtr=0x1003c02d

--config_def ROM_TIMACDataAddr=0x2000010c
--keep RAM_MAC_BASE_ADDR
